.leaderboard-btn {
  background-color: #e40166;
  color: black;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 8px;
  margin-top: 10px;
}

.leaderboard-btn:hover {
  background-color: #e40166;
}

.playnow-btn {
  letter-spacing: 8px;
}

.selection-card {
  max-width: 1200px;
}

.game-logo {
  max-width: 220px;
}


/* card css - PlayerCard component  */

.card-text {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-title {
  background-color: #e40166;
  width: 70px;
}
.card.player-card {
  background: white !important;
  background-color: white !important;
  --bs-card-bg: white !important;
}
.player-card {
  width: 160px;
  height: 220px;
  cursor: pointer;
  border: 1px solid #E40166;
  
}

.player-card.selected {
  border: 3px solid hotpink;
}

.player-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}


