/*Registration page styles*/
.register-card {
  box-shadow: 6px 5px 5px 0px #e40166;
  -webkit-box-shadow: 6px 5px 5px 0px #e40166;
  -moz-box-shadow: 6px 5px 5px 0px #e40166;

  max-width: 500px;
  width: 100%;
  border: 2px solid #e40166;
}
.register-btn {
  background-color: #e40166;
  color: white;
  font-size: 24px;
  border: none;
  transition: 0.3s ease;
  margin-top: 20px;
}

/* hover effect */
.register-btn:hover {
  background-color: #c80055;
  color: white;
}

.text-pink {
  color: #e40166;
}
.sub-title {
  letter-spacing: 5px;
  font-size: clamp(14px, 2vw, 20px);
  margin: 0;
}
.show-toggle,
.login-link {
  cursor: pointer;
}

.createaccount-title {
  font-family: "Jaro", sans-serif;

  font-size: clamp(28px, 6vw, 64px);
  text-align: center;

  color: white;

  -webkit-text-stroke: 2px #e40166;
}
